<!-- <nav class="navbar navbar-light bg-light justify-content-between mt-3"></nav> -->

<div class="row m-2">
  <form class="form-inline">
    <input
      class="form-control mr-sm-2"
      type="text"
      [(ngModel)]="search"
      name="search"
      placeholder="Search"
      aria-label="Search"
    />
    <button
      class="form-control mr-sm-2"
      (click)="filtroTodos()"
    >
      Todos
    </button>
    <button
      class="form-control mr-sm-2"
      (click)="filtroAsesinos()"
    >
      Asesinos
    </button>
    <button
      class="form-control mr-sm-2"
      (click)="filtroLuchadores()"
    >
      Luchadores
    </button>
    <button
      class="form-control mr-sm-2"
      (click)="filtroMagos()"
    >
      Magos
    </button>
    <button
      class="form-control mr-sm-2"
      (click)="filtroTiradores()"
    >
      Tiradores
    </button>
    <button
      class="form-control mr-sm-2"
      (click)="filtroApoyos()"
    >
      Apoyos
    </button>
    <button
      class="form-control mr-sm-2"
      (click)="filtroTanques()"
    >
      Tanques
    </button>

    <!-- <a class="nav-link" href="#" (click)="filtroAsesinos()">Asesinos</a> -->
  </form>
  <div
    class="card-columns m-2"
    *ngIf="campeones && campeones.length; else noCampeones"
  >
    <campeon-item
      (deletedCampeon)="deleteCampeon(campeon)"
      [campeon]="campeon"
      class="card"
      *ngFor="
        let campeon of campeones
          | campeonesFiltro: search
          | campeonesFiltrorol: searchRol
      "
    >
    </campeon-item>
  </div>
</div>
<ng-template #noCampeones>
  <h3>No hay campeones disponibles</h3>
</ng-template>
