<div class="container" *ngIf="campeon">
  <div class="row">
    <div class="col-sm">
      <img [src]="campeon.imagen" class="rounded" style="height: 300px" />
    </div>
    <div class="col-sm vl"></div>
    <div class="col-sm" style="text-align: center; margin-top: 25px">
      <h1 style="font-size: 75px">{{ campeon.nombre }}</h1>
      <div *ngIf="campeon.posicion == 'Top'">
        <h4>
          Posición: <b>{{ campeon.posicion }} </b>
          <img src="assets/top.png" class="rounded" style="height: 25px" />
        </h4>
      </div>
      <div *ngIf="campeon.posicion == 'Jungla'">
        <h4>
          Posición: <b>{{ campeon.posicion }} </b>
          <img src="assets/jungla.png" class="rounded" style="height: 25px" />
        </h4>
      </div>
      <div *ngIf="campeon.posicion == 'Medio'">
        <h4>
          Posición: <b>{{ campeon.posicion }} </b>
          <img src="assets/medio.png" class="rounded" style="height: 25px" />
        </h4>
      </div>
      <div *ngIf="campeon.posicion == 'Adc'">
        <h4>
          Posición: <b>{{ campeon.posicion }} </b>
          <img src="assets/inferior.png" class="rounded" style="height: 25px" />
        </h4>
      </div>
      <div *ngIf="campeon.posicion == 'Support'">
        <h4>
          Posición: <b>{{ campeon.posicion }} </b>
          <img src="assets/apoyo.png" class="rounded" style="height: 25px" />
        </h4>
      </div>

      <div *ngIf="campeon.dificultad == 1">
        <h4>
          Dificultad: <b>Baja </b>
          <img src="assets/bajo.PNG" class="rounded" style="height: 25px" />
        </h4>
      </div>
      <div *ngIf="campeon.dificultad == 2">
        <h4>
          Dificultad: <b>Moderada </b>
          <img src="assets/moderado.PNG" class="rounded" style="height: 25px" />
        </h4>
      </div>
      <div *ngIf="campeon.dificultad == 3">
        <h4>
          Dificultad: <b>Alta </b>
          <img src="assets/alta.PNG" class="rounded" style="height: 25px" />
        </h4>
      </div>

      <div>
        <h4>
          Rol: <b>{{ campeon.roles.nombreRol }}</b>
        </h4>
      </div>
    </div>
  </div>
</div>
<hr style="border-color: black; width: 85%" />

<div class="container" *ngIf="campeon">
  <div class="row">
    <div class="col-sm">
      {{ campeon.descripcion }}
    </div>
  </div>
</div>
<hr style="border-color: black; width: 85%" />
<div class="container" *ngIf="habilidades">
  <div *ngFor="let habilidad of habilidades">
    {{ habilidad.letraHabilidad }}
    {{ habilidad.nombreHabilidad }}
    {{ habilidad.descripcionHabilidad }}
  </div>
  <button type="button" class="btn btn-danger" style="text-align: center;" (click)="goBack()">
    Volver
  </button>
</div>

